@charset "UTF-8";


*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #F8F9FA;
  color: #333333;
}

header{
    color: #212121;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-size: 0.8em;
    height: 15vh;
    width: 100vw;
}

.sobre{
    display: flex;
    flex-direction: column;
    text-align: justify;

    height: 280px;
    border-radius: 5px;
    margin: 15px;
    
    background-color: #1A2B3C;
    box-shadow: 5px 5px 5px #212121a1;
    text-indent: 40px;
    padding: 0px 15px 0px 15px;
    font-family: "Tinos", serif;
    font-size: 1.3em;
    color: white;
}

section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    height: 55vh;
}

.benefícios{
    display: flex;
    align-items: center;

    background-color:#ffffff;
    box-shadow: 5px 5px 5px #212121a1;
    border-right: 1px solid #212121;
    color: #2c3e50;
    flex-direction: column;
    font-family: "Tinos", serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    width: 50%;
    height: 55vh;
    padding: 4px;
}

.benefícios > ul{
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-weight: 700;
    font-family: "Tinos", serif;
    padding: 10px;
    color: #1A2B3C;
    box-shadow: 5px 5px 5px #212121a1;
}

.benefícios > p{
    font-family: "Tinos", serif;
    font-weight: 700;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    gap: 5px;

    color: #1A2B3C;
    background-color:white;
    box-shadow: 5px 5px 5px #212121a1;

    font-weight: 700;
    font-family: "Tinos", serif;
}

.form > form{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviço{
    margin: 0;
    display: flex;
    flex-direction: row;
}

#serviço{
    margin: 0;
    padding: 0;
}

button{
    margin: 10px;
    width: 100px;
    height: 40px;
    background-color: #1A2B3C;
    color: white;
}

button:hover{
    background-color:white;
    color: #1A2B3C;
}

.depoimentos{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-weight: 700;
    font-family: "Tinos", serif;
    font-style: italic;
    color: #1A2B3C;
    
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.depoimentos img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    color: #1A2B3C;
}

.cliente03, .cliente02, .cliente01{
    display: flex;
    gap: 20px;
}

footer{
    color:white;
    display: flex;
    background-color:#1A2B3C;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: "Tinos", serif;;
}

@media screen and (max-width: 768px) {
    
header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.8em;
    height: auto;
    justify-content: start;
    text-align: center;
    padding-bottom:10px ;
}

nav{
    margin-bottom: 30px;
    background-image: url(img/principal-pequena.jpg);
    background-repeat: no-repeat;
    
}

    section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.form{
    width: 80vw;
    height: 55vh;
    margin-top: 10px;
}

.benefícios{
    width: 80vw;
    height: 55vh;
}

.form > form{
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #212121a1;
}

.sobre{
    height: auto;
    width: auto;
    margin: 0px;
    border-radius: 0px;
    text-align: center;
    padding: 20px;
}


}